<header class="section header" id="home">
    <nav class="navbar">
        <ul class="navbar__list">
            <li data-index="0" class="navbar__list__link active">
                <a href="#home">Home</a>
            </li>
            <li data-index="2" class="navbar__list__link">
                <a href="#about">About</a>
            </li>
            <li data-index="4" class="navbar__list__link">
                <a href="#expirience">Expirience</a>
            </li>
            <li data-index="6" class="navbar__list__link">
                <a href="#skills">Skills</a>
            </li>
            <li data-index="8" class="navbar__list__link">
                <a href="#contacts">Contacts</a>
            </li>
        </ul>
        <div class="navbar__indicator"></div>
    </nav>
    <div class="header__content">
        <h1 class="header__content__title">Привет, меня зовут Виктор и я разработчик на Python</h1>
        <div class="header__content__menu">
            <div class="header__content__menu-btn">
                <div class="text-option">скачать резюме</div>
                <div class="icon-img-option">
                    <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512">
                        <path fill="#FFD43B" d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"></path></svg>
                </div>
            </div>
            <ul class="type__files">
                <li class="option" style="--i:1">
                    <a href="#">
                        <div class="icon-svg-option">
                            <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512">
                                <path d="M0 64C0 28.7 28.7 0 64 0L224 0l0 128c0 17.7 14.3 32 32 32l128 0 0 144-208 0c-35.3 0-64 28.7-64 64l0 144-48 0c-35.3 0-64-28.7-64-64L0 64zm384 64l-128 0L256 0 384 128zM176 352l32 0c30.9 0 56 25.1 56 56s-25.1 56-56 56l-16 0 0 32c0 8.8-7.2 16-16 16s-16-7.2-16-16l0-48 0-80c0-8.8 7.2-16 16-16zm32 80c13.3 0 24-10.7 24-24s-10.7-24-24-24l-16 0 0 48 16 0zm96-80l32 0c26.5 0 48 21.5 48 48l0 64c0 26.5-21.5 48-48 48l-32 0c-8.8 0-16-7.2-16-16l0-128c0-8.8 7.2-16 16-16zm32 128c8.8 0 16-7.2 16-16l0-64c0-8.8-7.2-16-16-16l-16 0 0 96 16 0zm80-112c0-8.8 7.2-16 16-16l48 0c8.8 0 16 7.2 16 16s-7.2 16-16 16l-32 0 0 32 32 0c8.8 0 16 7.2 16 16s-7.2 16-16 16l-32 0 0 48c0 8.8-7.2 16-16 16s-16-7.2-16-16l0-64 0-64z"></path>
                            </svg>
                        </div>
                        <div class="type">.PDF</div>
                    </a>
                </li>
                <li class="option" style="--i:0">
                    <a href="#">
                        <div class="icon-svg-option">
                            <svg xmlns="http://www.w3.org/2000/svg" height="16" width="12" viewBox="0 0 384 512"
                                 class="word">
                                <path d="M64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V160H256c-17.7 0-32-14.3-32-32V0H64zM256 0V128H384L256 0zM111 257.1l26.8 89.2 31.6-90.3c3.4-9.6 12.5-16.1 22.7-16.1s19.3 6.4 22.7 16.1l31.6 90.3L273 257.1c3.8-12.7 17.2-19.9 29.9-16.1s19.9 17.2 16.1 29.9l-48 160c-3 10-12 16.9-22.4 17.1s-19.8-6.2-23.2-16.1L192 336.6l-33.3 95.3c-3.4 9.8-12.8 16.3-23.2 16.1s-19.5-7.1-22.4-17.1l-48-160c-3.8-12.7 3.4-26.1 16.1-29.9s26.1 3.4 29.9 16.1z"></path>
                            </svg>
                        </div>
                        <div class="type">.DOCX</div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="header__left-top-border"></div>
    <div class="header__top-left-border"></div>
    <div class="header__left-bottom-border"></div>
    <div class="header__bottom-left-border"></div>
    <div class="header__right-top-border"></div>
    <div class="header__top-right-border"></div>
    <div class="header__right-bottom-border"></div>
    <div class="header__bottom-right-border"></div>
</header>

