{% extends 'extends/base.html' %}

{% block title %}
    <title>All Skills</title>
{% endblock %}

{% block content %}
    <div class="my__expirience">
        <div class="my__expirience__title__wrapper">
            <h2 data-text="Skills" class="expirience__title active">Skills</h2>
        </div>
        {% if is_empty %}
            <div class="empty">Записей нет</div>
        {% endif %}
        <div class="my__expirience__item__wrapper">
            {% for item in result %}
                <div class="my__expirience__item">
                    <div class="my__expirience__item__published">{{ item.title }}</div>
                    {% if item.img %}
                        <img src="{{ item.img }}" alt="skill-img">
                    {% endif %}
                    <div class="my__expirience__item__published">{{ item.description }}</div>
                    <div class="my__expirience__item__published">{{ item.published }}</div>
                    <div class="my__expirience__item__update">
                        <a class="btn-expirience__update"
                           href="{{ url_for('skills.update_skill', skill_id=item.id) }}">update</a>
                    </div>
                    <div class="my__expirience__item__delete">
                        <a class="btn-expirience__delete"
                           href="{{ url_for('skills.delete_skill', skill_id=item.id) }}">delete</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
